body {
  padding: 0;
  margin: 0;
  font-family: 'Varela Round';
  color: #333;
  -webkit-font-smoothing: antialiased;
}

top-bar {
  display: block;
  height: 15px;
  width: 100%;
  position: fixed;
  z-index: 1;
  background-color: #333;
}

a {
  text-decoration: none;
  color: #333;
  transition: color 200ms ease-in-out;
}

a:hover {
  color: #AAA;
}

/* Top-level page elements */
column-layout {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 10%;
}

column-left {
  position: fixed;
  left: 5%;
  height: 100%;
  width: 15%;
  padding-top: 4.5%;
  padding-right: 5%;
  border-right: 1px solid #EEE;
}

column-right {
  padding-left: 30%;
  padding-right: 5%;
  justify-content: center;
}

/* Tablets and mobile */
@media (max-width: 800px) {
  column-left {
    display: none;
  }
  column-right {
    padding-left: 5%;
  }
}

/* left-column elements */
back-button a {
  color: #BBB;
}

page-title {
  display: block;
  font-size: 36;
  font-weight: bold;
  letter-spacing: 1;
  margin-bottom: 10%;
  margin-top: 1%;
}

post-title {
  display: flex;
  padding-top: 1%;
  padding-bottom: 1%;
  font-size: 1em;
  flex-wrap: nowrap;
  align-items: center;
}

post-title::before {
  content: '#';
  font-size: 2.5em;
  margin-right: -2.5%;
  color: #EEE;
}

/* Markdown tutorial styles */
h1:first-child {
  padding-top: 5%;
}

h1 {
  padding-top: 7.5%;
}

pre {
  background-color: #333;
  width: 100%;
  padding-bottom: 5%;
  padding-top: 5%;
  color: #eee;
}

pre code {
  margin-left: 5%;
  margin-right: 5%;
}

/* Terminal Faker */

.terminal-fullwidth {
  width: 100% !important;
}

.fake-terminal {
  width: 550px;
  margin: 1rem auto 3rem;
}

.fake-buttons {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 1px solid #000;
  position: relative;
  top: 4px;
  left: 6px;
  background-color: #ff3b47;
  border-color: #9d252b;
  display: inline-block;
}

.fake-minimize {
  left: 11px;
  background-color: #ffc100;
  border-color: #9d802c;
}

.fake-zoom {
  left: 16px;
  background-color: #00d742;
  border-color: #049931;
}

.fake-menu {
  width: 100%;
  box-sizing: border-box;
  height: 25px;
  background-color: #D9D9D9;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.fake-menu-title {
  padding: .1rem .7rem 0 0;
  float: right;
}

.fake-screen {
  background-color: #151515;
  box-sizing: border-box;
  width: 100%;
  padding: 20px 20px 35px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #FFF;
  line-height: 1.3rem;
}

span.directory::before {
  content: '>';
  color: #379AF0;
  padding-right: .5rem;
}

.title {
  text-align: center;
}

.sub-title {
  text-align: center;
}

a.link-tutorial {
  text-decoration: underline;
}